In [1]:
import pandas as pd
from utiles import * 

# DataFrame initial
data = {
    'agence_1': ['GUIDEZ MONCHY LE PREUX', 'PLM PLAN D\'ORGON', 'PRA FEILLENS', 'PLM PLAN D\'ORGON', 'PRA FEILLENS', 'GUIDEZ MONCHY LE PREUX'],
    'agence_2': ['PLM PLAN D\'ORGON', 'PRA FEILLENS', 'GUIDEZ MONCHY LE PREUX', 'GUIDEZ MONCHY LE PREUX', 'PLM PLAN D\'ORGON', 'PRA FEILLENS'],
    'Solde': [-125, -35, -74, 125, 35, 74],
    'Solde confirmé ?': ['Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui']
}
df_final = pd.DataFrame(data)
df_final

                 agence_1                agence_2  Solde Solde confirmé ?
0  GUIDEZ MONCHY LE PREUX        PLM PLAN D'ORGON   -125              Oui
1        PLM PLAN D'ORGON            PRA FEILLENS    -35              Oui
2            PRA FEILLENS  GUIDEZ MONCHY LE PREUX    -74              Oui
3        PLM PLAN D'ORGON  GUIDEZ MONCHY LE PREUX    125              Oui
4            PRA FEILLENS        PLM PLAN D'ORGON     35              Oui
5  GUIDEZ MONCHY LE PREUX            PRA FEILLENS     74              Oui

In [2]:
def reverse_asymetric_matrix(asymmetric_matrix):
    data_reversed = []
    for agence_1 in asymmetric_matrix.index:
        for agence_2 in asymmetric_matrix.columns:
            if asymmetric_matrix.loc[agence_1, agence_2] != 0:
                data_reversed.append([agence_1, agence_2, asymmetric_matrix.loc[agence_1, agence_2], 'Oui'])

    reversed_asymmetric_matrix = pd.DataFrame(data_reversed, columns=['agence_1', 'agence_2', 'Solde', 'Solde confirmé ?'])
    reversed_asymmetric_matrix.reset_index()
    # Ajout de l'index
    return reversed_asymmetric_matrix

In [3]:
agency1 = "PLM PLAN D'ORGON"
agency2 = "GUIDEZ MONCHY LE PREUX"

asymmetric_matrix = df_final.pivot(index='agence_1', columns='agence_2', values='Solde')
asymmetric_matrix = asymmetric_matrix.fillna(0)
asymmetric_matrix

agence_2                GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
agence_1
GUIDEZ MONCHY LE PREUX                     0.0            -125.0          74.0
PLM PLAN D'ORGON                         125.0               0.0         -35.0
PRA FEILLENS                             -74.0              35.0           0.0

In [4]:
balance_two_accounts(asymmetric_matrix, agency1, agency2)
asymmetric_matrix

Step 1: Transfer -125.0 from PLM PLAN D'ORGON to GUIDEZ MONCHY LE PREUX
Step 2: Transfer 125.0 from GUIDEZ MONCHY LE PREUX to PLM PLAN D'ORGON

agence_2                GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
agence_1
GUIDEZ MONCHY LE PREUX                     0.0               0.0         -51.0
PLM PLAN D'ORGON                           0.0               0.0          90.0
PRA FEILLENS                              51.0             -90.0           0.0

In [5]:
reversed_asymmetric_matrix = reverse_asymetric_matrix(asymmetric_matrix)
reversed_asymmetric_matrix

                 agence_1                agence_2  Solde Solde confirmé ?
0  GUIDEZ MONCHY LE PREUX            PRA FEILLENS  -51.0              Oui
1        PLM PLAN D'ORGON            PRA FEILLENS   90.0              Oui
2            PRA FEILLENS  GUIDEZ MONCHY LE PREUX   51.0              Oui
3            PRA FEILLENS        PLM PLAN D'ORGON  -90.0              Oui

In [7]:
list(df_final['agence_1'].unique())

AttributeError: 'list' object has no attribute 'unique'