In [24]:
import pandas as pd

In [25]:
data = {
    'Source': ['PRA FEILLENS', 'PRA FEILLENS', 'PLM PLAN D\'ORGON', 'PLM PLAN D\'ORGON', 'GUIDEZ MONCHY LE PREUX', 'GUIDEZ MONCHY LE PREUX'],
    'Destination': ['PLM PLAN D\'ORGON', 'GUIDEZ MONCHY LE PREUX', 'GUIDEZ MONCHY LE PREUX', 'PRA FEILLENS', 'PRA FEILLENS', 'PLM PLAN D\'ORGON'],
    'Valeur': [35, -74, 125, -35, 74, -125]
}

data = pd.DataFrame(data)

# Transformation en matrice asymétrique
df_init = data.pivot(index='Source', columns='Destination', values='Valeur')
df_init = df_init.fillna(0)
# Remplacer les NaN par 0 pour les valeurs absentes

print(df_init)

Destination             GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
Source
GUIDEZ MONCHY LE PREUX                     0.0            -125.0          74.0
PLM PLAN D'ORGON                         125.0               0.0         -35.0
PRA FEILLENS                             -74.0              35.0           0.0

* Lire par ligne. Exemple : Guidez Monchy à un solde de -125 Pal avec PLM. Donc PLM doit rendre 125 a Guidez Monchy

In [26]:
df_init

Destination             GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
Source
GUIDEZ MONCHY LE PREUX                     0.0            -125.0          74.0
PLM PLAN D'ORGON                         125.0               0.0         -35.0
PRA FEILLENS                             -74.0              35.0           0.0

In [27]:
df= df_init.copy()

In [28]:
def balance_two_accounts(df, agency1, agency2):
    steps = []  # Liste pour stocker les étapes de transfert

    # Etape 1 : Équilibrer agency1 vers agency2
    val_col = df.at[agency2, agency1]
    if val_col != 0:
        df.at[agency2, agency1] = 0  # Mettre à zéro la colonne agency1 de agency2
        print(f"Step 1: Transfer {val_col} from {agency1} to {agency2}")
        condition = (df[agency1] != val_col) & (df[agency1] != 0)
        df.loc[condition, agency1] += val_col
        df.loc[agency1, condition] -= val_col
        # steps.append(f"Transfer {val_col} from {agency1} to {agency2}")

    # Etape 2 : Équilibrer agency2 vers agency1
    val_col = df.at[agency1, agency2]
    if val_col != 0:
        df.at[agency1, agency2] = 0  # Mettre à zéro la colonne agency2 de agency1
        print(f"Step 2: Transfer {val_col} from {agency2} to {agency1}")
        condition = (df[agency2] != val_col) & (df[agency2] != 0)
        df.loc[condition, agency2] += val_col
        df.loc[agency2, condition] -= val_col
        # steps.append(f"Transfer {val_col} from {agency2} to {agency1}")

    return steps

In [29]:
# Définir les agences pour le transfert
agency1 = "PLM PLAN D'ORGON"
agency2 = "GUIDEZ MONCHY LE PREUX"

# Appeler la fonction pour équilibrer les comptes
transfer_steps = balance_two_accounts(df, agency1, agency2)

# Afficher le DataFrame après les transferts

Step 1: Transfer -125.0 from PLM PLAN D'ORGON to GUIDEZ MONCHY LE PREUX
Step 2: Transfer 125.0 from GUIDEZ MONCHY LE PREUX to PLM PLAN D'ORGON

In [30]:
print("\nDataFrame après les transferts :")
print(df)

# Afficher les étapes de transfert
print("\nSteps de transfert :")
for step in transfer_steps:
    print(step)

DataFrame après les transferts :
Destination             GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
Source
GUIDEZ MONCHY LE PREUX                     0.0               0.0         -51.0
PLM PLAN D'ORGON                           0.0               0.0          90.0
PRA FEILLENS                              51.0             -90.0           0.0

Steps de transfert :
Transfer -125.0 from PLM PLAN D'ORGON to GUIDEZ MONCHY LE PREUX
Transfer 125.0 from GUIDEZ MONCHY LE PREUX to PLM PLAN D'ORGON

In [31]:
df_init

Destination             GUIDEZ MONCHY LE PREUX  PLM PLAN D'ORGON  PRA FEILLENS
Source
GUIDEZ MONCHY LE PREUX                     0.0            -125.0          74.0
PLM PLAN D'ORGON                         125.0               0.0         -35.0
PRA FEILLENS                             -74.0              35.0           0.0